@use 'reset';
@use './variables/'as *;

.GS-content-bg {
    display: flex;
    flex-wrap: wrap;

    @media (max-width:1024px) {
        justify-content: center;
        margin: 0px;
    }

    @media (max-width:640px) {
        margin: 0px;
    }

    .GS-memory-card {
        margin: 30px;

        @media (max-width:1024px) {
            width: 100%;
            margin-top: 15px;

            &:nth-child(n+5) {
                display: none;
            }
        }

        &.modern {
            width: 350px;
            background: white;
            border-radius: 15px;
            overflow: hidden;
            box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
            transition: transform 0.3s ease;

            @media (max-width:1024px) {
                width: 250px;
            }

            &:hover {
                transform: translateY(-5px);

                .GS-card-content {

                    h2,
                    p,
                    time {
                        color: #0066cc;
                    }
                }
            }



            .GS-card-image {
                position: relative;
                height: 200px;
                overflow: hidden;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .GS-card-content {
                padding: 20px;

                h2{
                    font-size: 18px;
                    font-weight: 700;
                }
                h2,
                p,
                time {
                    display: block;
                    color: #333;
                    text-decoration: none;
                    margin-bottom: 10px;
                    transition: color 0.3s;


                }


            }
        }

    }

}