@use 'reset';
@use './variables/'as *;
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');

.Home-page-1 {
    .Home-page-1-Banner {
        display: flex;

        @media (max-width:1024px) {
            margin-top: 10px;
            display: block;
        }

        @media (max-width:640px) {
            display: block;
            margin-top: 10px;

        }
    }
}

.Home-page-2 {
    margin: 30px 150px;
    /* 區域上下間距 */
    padding: 20px;
    /* 區域內間距 */
    background-color: #FFF3E6;
    /* 柔和背景色 */
    border: 2px solid #D3A871;
    /* 金棕色邊框 */
    border-radius: 10px;
    /* 圓角邊框 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* 淡淡的陰影效果 */
    text-align: center;
    /* 文本居中 */
    display: flex;
    flex-direction: column;

    @media (max-width:1024px) {
        margin: 20px;
    }

    .update-info-title {
        font-size: 1.8rem;
        /* 大標題字體大小 */
        font-weight: bold;
        color: #5A4636;
        /* 深棕色文字 */
        margin-bottom: 10px;

        &:after {
            content: '';
            display: block;
            width: 60px;
            height: 3px;
            background: gold;
            margin: 15px auto;
        }
    }

    .update-info-description {
        font-size: 1rem;
        color: #8B5E34;
        /* 較淺的棕色 */
        margin-bottom: 20px;
        /* 與內容區的間距 */
    }
}

.Home-page-3 {
    padding: 20px;
    background: linear-gradient(180deg, #FFF7E0 0%, #F0DAAE 100%);
    border-radius: 15px;
    margin: 50px auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);


    .guide-videos-title {
        font-size: 2rem;
        font-weight: bold;
        text-align: center;
        color: #5A4636;
        margin-bottom: 10px;

        &:after {
            content: '';
            display: block;
            width: 60px;
            height: 3px;
            background: gold;
            margin: 15px auto;
        }
    }

    .guide-videos-description {
        font-size: 1rem;
        text-align: center;
        color: #8B5E34;
        margin-bottom: 30px;
    }
}

.Home-page-4 {
    padding: 40px 0;
    background: #F0DAAE;
    position: relative;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(255, 255, 255, 0.3);
        box-shadow: inset 0 0 30px rgba(74, 59, 36, 0.08);
    }

    .profession-title {
        position: relative;
        text-align: center;
        margin-bottom: 40px;
        color: #5A4636;
        font-size: 36px;
        font-weight: bold;

        &:after {
            content: '';
            display: block;
            width: 60px;
            height: 3px;
            background: gold;
            margin: 15px auto;
        }
    }
}

.Home-Footer {
    .Footertext {
        @media (max-width:640px) {
            font-size: 0.8rem;
        }
    }
}