@use 'reset';
@use './variables/'as *;

.UpdataC-content-bg {
    background-color: #FDF5E6;
    border: 1px solid #8B4513;
    border-radius: 15px;

    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}